.btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
}
.btn-first {
    background-color: #e787b1;
    border: 1px solid #e787b1;
}
.btn-second {
    background-color: #94bbe9;
    border: 1px solid #94bbe9;
}

