.cart-container__title,
.empty{
    font-size: 28px;
    text-align: center;
    color: #474a46;
    padding: 20px;
}

.empty{
    font-size: 24px;
}

.btn-delete{
    margin: 0;
    padding: 0;
    border: none;
    background-color: #dce4ee;
}