.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.6);
}

.modal__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35%;
    margin: 20% auto;
    background: rgb(209,224,241,1);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
}

.modal__header{
    width: 100%;
    margin: 0 auto;
    background: rgb(115,197,231);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__close{
    padding: 20px 25px;
    font-size: 50px;
    color: #424241;
    cursor: pointer;
}

.modal__title{
    padding: 20px 25px;
    font-size: 30px;
    color: #424241;
}
.modal__text{
    padding: 20px 25px;
    font-size: 22px;
    line-height: 46px;
    text-align: center;
    color: #424241;
}

.action-content{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px ;
}

.action-btn{
    width: 100px;
    height: 20px;
    font-size: 20px;
    color: #424241;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    background: rgb(115,197,231);
    border: none;
    border-radius: 5px;
    padding: 20px;
}