.copyright {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px ;
    background: rgb(148,187,233, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright > h2{
      font-size: 24px;
      text-transform: uppercase;
      color: #474a46;
      padding: 10px 0;
}
.copyright > p{
      font-weight: 400;
      font-size: 20px;
      color: #474a46;
      padding: 10px 0;
}

.copyright__contacts,
.copyright__contacts >a{
     font-size: 20px;
     color: #474a46;
     padding: 10px 0;
}
.copyright__image {
    display: flex;
    justify-content: center;
}

.copyright__image > img{
      max-width: 34px;
      height: 100%;
      margin: 5px;
}

.copyright__contacts {
    display: flex;
    align-items: center;
}

.copyright__contacts > p,
.copyright__contacts > a{
      margin: 0 15px;
}


