.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: rgb(148,187,233, 0.1);
}
.header__icon ul{
    display: flex;
    gap: 15px;
}

.header__icon__favorite,
.header__icon__cart-shopping{
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.icon__cart-shopping,
.icon__cart-favorite{
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: green;
    margin-right: 10px;
}

