
html, body, div, span, h1, h2, p,
footer, header {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    width: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0 auto;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn-container{
    display: flex;
    gap: 100px;
}

.action-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px ;
}

.action-btn{
    width: 100px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    background: rgb(220,59,59);
    border: 1px solid rgb(220,59,59);
    border-radius: 5px;
    padding: 20px;
}

.action-btn2{
    width: 100px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #cf2e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    padding: 20px;
}