.product-card__item{
    list-style: none;
    border: 5px solid #94bbe9;
    border-radius: 15px;
}

.item__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item__information__title{
    display: inline-block;
    text-align: center;
    padding: 20px 10px;
    font-size: 28px;
    color: #474a46;
}

.item__information__image{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: transform 500ms ease;
}
.item__information__image:hover{
    transform: scale(1.05);
}

.item__information__price{
    padding: 20px;
    font-size: 18px;
    color: #474a46;
}

.add-to-card {
    margin: 10px;
    padding: 15px 25px;
    color: #474a46;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #0a8610;
    cursor: pointer;
}

.add-to-card:hover {
    box-shadow: rgba(10,134,16,0.7) 0px 3px 8px;
}

.product-card__btn{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.item__information__color{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 15px;
    height: 15px;

}
