
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 10px;
    flex: 1 1 auto;

}

.product-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.header__icon__favorite__text,
.header__icon__cart-shopping__text{
    font-size: 20px;
    color: #474a46;
    cursor: pointer;


}