.form-container{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
}

.form-title{
    font-size: 28px;
    text-align: center;
    color: #474a46;
    padding: 20px;
}
.form-row{
    display: block;
    margin-bottom: 20px;
}

.form-label{
    padding: 5px;
    font-size: 18px;
    color: #212529;
}

.form-control{
    display: block;
    width: 90%;
    padding: 6px 12px;
    font-size: 16px;
    color: #212529;
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: 6px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.alert{
    position: relative;
    width: 100%;
    color: #842029;
    border-radius: 3px;
    padding: 10px;
}

.btn-checkout{
    margin: 10px;
    padding: 15px 25px;
    color: #474a46;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #0a8610;
    cursor: pointer;
}

.btn-checkout:hover{
    box-shadow: rgb(10 134 16 / 70%) 0 3px 8px;
}