.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.6);
}

.modal__content{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35%;
    margin: 20% auto;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
    background: rgb(260,59,59);
    border-radius: 5px;
}

.modal__header{
    width: 100%;
    margin: 0 auto;
    background: rgb(220,59,59);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__close{
    padding: 30px;
    font-size: 50px;
    color: #424241;
    cursor: pointer;
}

.modal__title{
    padding: 30px;
    font-size: 30px;
    color: #FFFFFF;
}


.modal__text{
    padding: 30px;
    font-size: 22px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

